/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Preload */

/*#preload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f0e6;
}
#preload img {
  width: 200px;
}
.hidden {
  display: none;
}*/

/* Menu */
header {
  background: #98D6FF;
  padding: 1rem;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #222  ;
}

/* Hero Section */
#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  position: relative;
}
.main-text {
  max-width: 50%;
}
.main-text h1 {
  font-size: 2.5rem;
  color: #519F68;
}
.main-text h2 {
  font-size: 1.8rem;
  color: #204965;
}
.main-img {
  width: 300px;
  position: absolute;
  right: 5rem;
  bottom: 56cm; /* interpretação direta */
}

/* Sobre */
#imagem {
  padding: 4rem;
  color:#519F68 ;
}
#container {
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr;
  grid-template-rows: 2fr;
  grid-template-areas: 
  'img div div'
  'img div div';
}

div{
  grid-area: div;
}

div .img{
  grid-area: img
}
.sobre{
  border-radius: 1%;
  border-color: #222;
  justify-content: left;
  
}

.habilidade{
  justify-content: left;
  background-color: #222;
  
}


.conquistas{
  position: fixed;   /* fixa na tela */
  bottom: 10px;      /* distância da borda inferior */
  right: 10px;       /* distância da borda direita */
}

.skills{
  position: fixed;
  bottom: 10px;      /* distância da borda inferior */
  left: 10px;        /* distância da borda esquerda */
  
}


.item {
  padding: 200px, 16px ;
  flex-direction: row-reverse;
  top: 70;
  height: 359px;
  width: 301px;
  
}



/* Projetos */
#projetos {
  padding: 4rem;
  background: #A768F8;
}
.grid-projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 2rem;
}
.projeto {
  background: white;
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  text-align: center;
  position: relative;
}


/* Footer */
#contatos {
  background: #A768F8;
  color: black;
  text-align: center;
  padding: 2rem;
}
.redes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.redes img {
  width: 40px;
  cursor: pointer;
  transition: transform .3s;
}
.redes img:hover {
  transform: scale(1.1);
}
.grid_novo{
display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  grid-template-rows: repeat(2, 1fr);  /* 2 linhas */
  gap: 20px;
  padding: 40px;
}